.textarea-editor-font {
  font-family: 'JetBrains Mono', 'Courier New', Courier, Monaco, monospace;
  font-weight: 500;
}

.v-application {
  font-family: 'Noto Sans Japanese', Arial, Helvetica, sans-serif !important;
  font-weight: 300;
}

.user-form {
  width: 50%;
}

/** tiptapに生成されるドキュメント要素にスタイルをつける */
blockquote {
  margin: 0;
  border-left: 0.15rem solid #000000;
}

blockquote p {
  padding: 12px;
}

hr {
  margin: 4px;
  color: #000000;
}
